<h1 class="text-center display-4">Add Quote</h1>
    
<form (ngSubmit)="submit() ">
  <div class="form-group">
    <label class="control-label" for="name">
      Publisher Name :
    </label>
    <div class="input-group w-75 ">
      <div class="input-group-prepend bg-light">
        <i class="fa fa-user p-3" aria-hidden="true"></i>
      </div>
      <input required [(ngModel)]="newQuote.authorsname" #authorsname="ngModel" class="form-control" id="authorsname" name="authorsname" type="text" />
    </div>

    <div *ngIf=" authorsname.touched && !authorsname.valid" class=" w-75 m-3 alert alert-danger">
        Publishers Name is required
    </div>

  </div>
  <div class="form-group">
    <label class="control-label" for="name">
      Authors name :
    </label>
    <div class="input-group w-75 ">
      <div class="input-group-prepend bg-light">
        <i class="fa fa-user p-3" aria-hidden="true"></i>
      </div>
      <input required [(ngModel)]="newQuote.publishersname" #publishersname="ngModel" class="form-control" id="publishersname" name="publishersname" type="text" />
    </div>
    <div *ngIf="publishersname.touched && !publishersname.valid" class=" w-75 m-3 alert alert-danger">
        Authors Name is required
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="name">
      Enter Quote :
    </label>
    <div class="input-group w-75 ">
      <div class="input-group-prepend bg-light">
        <i class="fa fa-quote-left p-3 " aria-hidden="true"></i>
      </div>
      <textarea required [(ngModel)]="newQuote.qoute" #qoute="ngModel" id="qoute" name="qoute" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div *ngIf="qoute.touched && !qoute.valid" class=" w-75 m-3 alert alert-danger">
        Quote is required
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="name">
      Input Date :
    </label>
    <div class="input-group w-75">
      <div class="input-group-prepend bg-light">
        <i class="fa fa-calendar p-3" aria-hidden="true"></i>
      </div>
      <input required [(ngModel)] = "newQuote.quoteDate" #quoteDate="ngModel" class="form-control" id="quoteDate" name="quoteDate" type="date" />
    </div>
    <div *ngIf="quoteDate.touched && !quoteDate.valid" class=" w-75 m-3 alert alert-danger">
        Date is required
    </div>
  </div>

  <button class="btn btn-sm bg-dark mt-5 text-white" >Submit Quote</button>

</form>
