<header>
  <h1 class="display-2 text-center m-5"> Best Quotes </h1>
</header>

<div class="row">
  <div class="col-md-6">
    <quote></quote>

    
  </div>
  <div class="col-md-6">
    <h1 class="text-center display-4">Add Quote</h1>
    
    <form>
      <div class="form-group">
        <label class="control-label" for="name">
          Publisher Name :
        </label>
        <div class="input-group w-75 ">
          <div class="input-group-prepend bg-light">
            <i class="fa fa-user p-3" aria-hidden="true"></i>
          </div>
          <input class="form-control" id="email" name="email" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="name">
          Authors name :
        </label>
        <div class="input-group w-75 ">
          <div class="input-group-prepend bg-light">
            <i class="fa fa-user p-3" aria-hidden="true"></i>
          </div>
          <input class="form-control" id="email" name="email" type="text" />
        </div>
        
      </div>
      <div class="form-group">
        <label class="control-label" for="name">
          Enter Quote :
        </label>
        <div class="input-group w-75 ">
          <div class="input-group-prepend bg-light">
            <i class="fa fa-quote-left p-3 " aria-hidden="true"></i>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        
      </div>
      <div class="form-group">
        <label class="control-label" for="name">
          Input Date :
        </label>
        <div class="input-group w-75">
          <div class="input-group-prepend bg-light">
            <i class="fa fa-calendar p-3" aria-hidden="true"></i>
          </div>
          <input class="form-control" id="date" name="date" type="date" />
        </div>
        
      </div>

      <button class="btn btn-sm bg-light mt-5 " >Submit Quote</button>

    </form>

  </div>
</div>
